.container-task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.input-task {
    width: 90%;
    height: 37px;
}

button {
    width: 110px;
    margin-left: 10px;
}